[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/error.log

# sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

port = 3306
bind-address = 0.0.0.0

skip_name_resolve
skip_external_locking
skip_log_bin

default_authentication_plugin = mysql_native_password

transaction_isolation = READ-COMMITTED

## network
max_allowed_packet = 16M
max_connections    = 256
max_connect_errors = 10000

table_open_cache    = 1024
thread_cache_size   = 256
binlog_cache_size   = 2M
max_heap_table_size = 4M
tmp_table_size      = 1M

## thread_buffers
sort_buffer_size     = 2M
read_rnd_buffer_size = 1M
join_buffer_size     = 256K
read_buffer_size     = 1M

## slow query
slow_query_log = 1
slow_query_log_file = /tmp/mysql-slow.log
long_query_time = 0
# log_queries_not_using_indexes

# innodb
innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1
innodb_autoextend_increment = 256
innodb_log_buffer_size = 16M
innodb_log_file_size = 256MB
innodb_doublewrite = 0
innodb_lock_wait_timeout = 1
innodb_sync_array_size = 4
innodb_flush_neighbors = 0
innodb_sync_spin_loops = 128
innodb_flushing_avg_loops = 512
innodb_flush_log_at_trx_commit = 2
innodb_flush_log_at_timeout = 5
innodb_concurrency_tickets = 8192
innodb_autoinc_lock_mode = 2
innodb_adaptive_hash_index = 0
innodb_adaptive_flushing = 0
innodb_flush_method = O_DIRECT_NO_FSYNC
innodb_file_per_table

# innodb_io_capacity = 300
# innodb_io_capacity_max = 300
# innodb_lru_scan_depth = 2048
innodb_max_dirty_pages_pct = 99
innodb_max_dirty_pages_pct_lwm = 90

innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup  = 1
